// SECTION TEXT

// Text Transform
.text-uppercase {
    text-transform: uppercase;
}

// Text Alignment
.text-center {
    text-align: center;
}

// SECTION FONT

// Font Size
.text-small {
    font-size: 0.9em;
}

// SECTION DISPLAY

// Display
.d-flex {
    display: flex;
}

// SECTION POSITION

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}