@import './../variabili';
@import './../utilities/mixins';
@import './../utilities/helpers';

// fonts Bebas Neue
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container-footer-top {
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;

    .row-footer-top {
        @include compileFlex (space-between, center);
        @include centerMargin( 85% );

        .credits-links-footer {

            .footer-list {
                color: $text-white;
    
                .col {
                    flex-direction: column;
    
                    h2 {
                        margin-bottom: 15px;
                        font-family: $font-main;
                        font-size: 1.9em;
                        letter-spacing: 0.06em;
                    }
    
                    li:not(li:last-child) {
                        margin-bottom: 5px;
                    }
    
                    a {
                        color: $text-gray-footer;
    
                        &:hover {
                            text-decoration: underline;
                            color: $active-blue;
    
                        }
                    }
                }
    
                .double-list {
                    flex-direction: column;
    
                    .bottomList {
                        margin-top: 30px;
                    }
                }
                
                .central-list {
                    margin: 0 50px;
                }
            }

            .footer-credits {
                color: $text-gray-footer;
                margin-top: 20px;

                a {
                    color: $active-blue;
                }
            }
        }


        .logo-footer {
            margin: -120px 0;

            img {
                height: 650px;
            }
        }
    }
}

.container-footer-bottom {
    background-color: $bg-gray-footerBottom;
    padding: 30px 0;
    z-index: 1;

    .row-footer-bottom {
        @include compileFlex (space-between, center);
        @include centerMargin( 85% );

        #btn-signUp {
            background-color: transparent;
            border: 2px solid $active-blue;
            color: $text-white;
            padding: 10px;
            font-weight: bold;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }

        .socialMedia {
            align-items: center;

            h2 {
                font-family: $font-main;
                color: $active-blue;
                margin-right: 30px;
            }

            .iconSocial {

                a {
                    margin: 0 10px;
                }
            }

        }
    }
}